<!-- templates/creador_home.html -->
{% extends 'base.html' %}

{% block title %}Panel de Administración{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 mb-4">
        <h2>Panel de Creador</h2>
        <p class="lead">Bienvenido(a) al panel del rol "Creador"</p>
    </div>
    
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Encuestas</h5>
                <p class="card-text">Visualiza las encuestas disponibles</p>
                <a href="crear_encuesta" class="btn btn-primary">Crear Encuestas</a>
                <a href="ver_resultados_encuesta" class="btn btn-primary">Ver Resultados Encuesta</a>
            </div>
        </div>
    </div>


</div>
{% endblock %}