<!-- templates/participante_home.html -->
{% extends 'base.html' %}

{% block title %}Portal de Participante{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 mb-4">
        <h2>Portal de Participante</h2>
        <p class="lead">Bienvenido(a) a tu portal de participante</p>
    </div>
    
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Encuestas</h5>
                <p class="card-text">Visualiza las encuestas disponibles</p>
                <a href="#" class="btn btn-primary">Ver Encuestas</a>
            </div>
        </div>
    </div>
    
    
</div>
{% endblock %}